/.vscode
/practise1.cpp
/practise10.cpp
/practise11.cpp
/practise12.cpp
/practise13.cpp
/practise14.cpp
/practise15.cpp
/practise16.cpp
/practise17.cpp
/practise18.cpp
/practise19.cpp
/practise2.cpp
/practise20.cpp
/practise21.cpp
/practise22.cpp
/practise23.cpp
/practise24.cpp
/practise25.cpp
/practise26.cpp
/practise27.cpp
/practise28.cpp
/practise29.cpp
/practise3.cpp
/practise30.cpp
/practise31.cpp
/practise32.cpp
/practise33.cpp
/practise34.cpp
/practise35.cpp
/practise36.cpp
/practise37.cpp
/practise38.cpp
/practise39.cpp
/practise4.cpp
/practise41.cpp
/practise42.cpp
/practise43.cpp
/practise44
/practise44.cpp
/practise45
/practise45.cpp
/practise5.cpp
/practise6.cpp
/practise7.cpp
/practise8.cpp
/practise9.cpp